.stats{
	background-color: #fff;
}
div{
	ss
}
.pull-right{
	text-align: right;
}
table{
	color:#42413d;
}
.header {
	margin:20px;
}
.header h5 {
	text-align: center;
	/*font-family: helvetica;*/
	font-weight:400;
}
th{
	color:#005;
}
.jumbotron{
	background:#139e91;
	color:white;

}
.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid rgba(15, 186, 191, 0.13);
}
.form-group{
	padding:30px;
}
form>.btn{
	margin-top: 30px;
}
form.card{
	min-height:350px;
}
.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}
.nav>.navbar-nav>ul>li{
	display: inline-block;
}
#drop{
	background-color: rgba(204, 204, 204, 0.33);
	min-height: 200px;

}
#drop.element{
background-color: green;
}
#drop{
margin-bottom: 30px;

}
.menu>a{
	font-size: 16px;
	border-right:1px solid #fff;
	padding:2px;
	color:#467890;
}
.form{
	display: block;
}

.tags {
	width:50%;
	float:right ;
	color:lime;
	background-color: silver;
}
.tool th{
	text-align: right;
}
.thumb>img{
width: 200px;
height:200px;
}
.toolsheader{
	text-align: center;
	color : #06988a;
font-weight: bold;
}
.addbutton{
	margin: 20px;
	text-align: center;
}
.description{
	padding: 10px;
}
h1 {
  margin: 1em auto;
  width: 80%;
}

.tabordion {
  display: block;
  margin: auto;
  position: relative;
  width: 80%;
}

.tabordion input[name="sections"] {
  left: -9999px;
  position: absolute;
  top: -9999px;
}

.tabordion section {
  display: block;
}

.tabordion section label {
  background: #ccc;
  border:1px solid #fff;
  cursor: pointer;
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  padding: 15px 20px;
  position: relative;
  width: 180px;
  z-index:100;
}

.tabordion section article {
  display: none;
  left: 230px;
  min-width: 300px;
  padding: 0 0 0 21px;
  position: absolute;
  top: 0;
}

.tabordion section article:after {
  background-color: #ccc;
  bottom: 0;
  content: "";
  display: block;
  left:-229px;
  position: absolute;
  top: 0;
  width: 220px;
  z-index:1;
}

.tabordion input[name="sections"]:checked + label {
  background: #eee;
  color: #bbb;
}

.tabordion input[name="sections"]:checked ~ article {
  display: block;
}


@media (max-width: 533px) {

  h1 {
    width: 100%;
  }

  .tabordion {
    width: 100%;
  }

  .tabordion section label {
    font-size: 1em;
    width: 160px;
  }

 .tabordion section article {
    left: 200px;
    min-width: 270px;
  }

  .tabordion section article:after {
    background-color: #ccc;
    bottom: 0;
    content: "";
    display: block;
    left:-199px;
    position: absolute;
    top: 0;
    width: 200px;

  }

}


@media (max-width: 768px) {
  h1 {
    width: 96%;
  }

  .tabordion {
    width: 96%;
  }
}


@media (min-width: 1366px) {
  h1 {
    width: 70%;
  }

  .tabordion {
    width: 70%;
  }
}
/* tabs*/
@import url("http://fonts.googleapis.com/css?family=Roboto+Slab:100");
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
html,
body {
  width: 100%;

}
@media screen and (min-width: 600px) {
  html,
  body {
    padding: 0 10px;
  }
}
h1 {
  font-size: 2em;
  line-height: 1.4em;
  text-align: center;
  padding: 0.5em;
}
section {
  zoom: 1;
  position: relative;
  height: auto;
}
section:after,
section:before {
  content: "";
  display: table;
}
section:after {
  clear: both;
}
section h4 {
  background: #fafafa;
  cursor: pointer;
  border: 1px solid rgba(0,0,0,0.2);
  border-top: none;
  padding: 15px 20px;
}
section h4:first-child {
  border-top: 1px solid rgba(0,0,0,0.2);
}
@media screen and (min-width: 600px) {
  section h4 {
    position: relative;
    width: 33.333333333333336%;
    font-size: 11px;
    display: block;
  }
}
section ul {
  zoom: 1;
  position: relative;
  height: auto;
  min-height: 100%;
  border: 1px solid rgba(0,0,0,0.2);
  border-left: none;
  display: none;
}
section ul:after,
section ul:before {
  content: "";
  display: table;
}
section ul:after {
  clear: both;
}
section ul li {
  list-style: circle;
}
@media screen and (min-width: 600px) {
  section ul {
    position: absolute;
    width: 66.66666666666667%;
    right: 0;
    top: 0;
    padding: 15px 30px;
  }
}
section .active {
  cursor: default;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  border-right: none;
}
@media screen and (min-width: 600px) {
  section .active {
    background: #009688;
    border-right: 1px solid rgba(0,0,0,0);
  }
}
section .active + ul {
  display: block;
}
/*tabs css*/
.badge.open{
	color : #fff;
	background-color:#00f;
	padding :2px;
}
.badge.closed{
	color : #f00;
	font-size: 14px;
	padding:2px;
}
#draggable {
		width: 120px;
		height: 120px;
}

#droppable {
		width: 120px;
		height: 120px;
}

.thumbnail {
		width: 60px;
		height: 60px;
		border: 1px rgba(35, 111, 13, 0.32) solid;
		box-shadow: 1px 1px 2px rgba(35, 111, 13, 0.9);
		transform: translate(0, -20px);
}

.tools#drop {
		background-color: rgba(192, 197, 194, 0.16);
}

.grid-item {
		margin: 5px;
		width: 120px;
		min-height: 120px;
		height: 150px;
		font-size: 10px;
		box-shadow: 1px 1px 1px;
		text-align: center;
		margin-bottom: 20px;
		margin-top: 12px;
}

.grid-item--width2 {
		background-color: #cfc;
		;
}

.packery-drop-placeholder {
		outline: 2px dashed #4c4;
		outline-offset: -6px;
		/* transition position changing */
		-webkit-transition: -webkit-transform 0.2s;
		transition: transform 0.2s;
}

.cat {
		width: 100%;
		height: 30px;
}
.grid-item button{
	font-size: 10px;
	border: solid #ccc 1px;
	padding:2px;
	transform:translate(-10px);
	position:absolute;
	bottom: 0;
}
.grid-item p{
	height:30px;
	 white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
