<div class="sw col-lg-8 offset-lg-2">
  <form>
    <input type="search" class="search" placeholder="Search..." />
    <button class="go"><span class="entypo-search"><i class="fa fa-search " aria-hidden="true"></i></span></button>
  </form>
</div>
