<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/header %>
</head>

<body>

    <div class="container">

        <div class="content">

            <div class="jumbotron">
                <div class="container">
                    <a class="btn btn-primary btn-lg">Candidate information</a>
                    </p>
                </div>
            </div>
            <div class="card col-lg-9 offset-lg-2" style="padding:100px 0 30px 30px;">
                <div class="pull-left">
                    <img src="https://randomuser.me/api/portraits/women/89.jpg" class="img-cir0cle thumbn center" alt="">
                </div>

                <div class="pull-left col-lg-8">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th colspan=2>parry pat</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Cycle</td>
                                <td>15 </td>
                            </tr>
                            <tr>
                                <td>email</td>
                                <td><a href="mailto:#">geo@email.com</a></td>

                            </tr>
                            <tr>
                                <td>linkedin</td>
                                <td><a href="linkdin:#">linkedin</a></td>
                            </tr>
                            <tr>
                                <td>Location</td>
                                <td>Lagos, Nigeria</td>
                            </tr>
                            <tr>
                                <tr>
                                    <td>Education</td>
                                    <td>University: Lagos International University <br> Bsc CS</td>
                                </tr>
                                <tr>


                                </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-12">

                    <section>
                        <h4 class="active"> <span class="badge open">open</span> Cycle 15 </h4>
                        <ul>
                            <div class="list-group" style="margin-bottom:10px">
                                <a href="#" class="list-group-item active">
                      applicant activity
                        </a>
                                <table class="table table-hover table-stripped">
                                    <thead>
                                        <tr>
                                            <th>stage</th>
                                            <th>started</th>
                                            <th>completed</th>
                                            <th>tools</th>


                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>stage 1</td>
                                            <td>closed</td>
                                            <td>80%</td>
                                            <td>plumtest</td>

                                        </tr>
                                        <tr>
                                            <td>stage 2</td>
                                            <td>in progress</td>
                                            <td>10%</td>
                                            <td>proctor, hackerank</td>
                                        </tr>
                                        <tr>
                                            <td>stage 3</td>
                                            <td>not Started</td>
                                            <td>0%</td>
                                            <td>Andela, proctor</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </ul>
                        <h4>  <span class="badge closed">
                          <i class="fa fa-lock" aria-hidden="true"></i></span>
                           Cycle 13 [Interview stage]</h4>
                        <ul>
                            <div class="list-group ">
                                <a href="#" class="list-group-item active ">
                      Tool analysis
                        </a>
                                <table class="table table-hover table-stripped">
                                    <thead>
                                        <tr>
                                            <th style="text-align:left">Tool</th>
                                            <th style="text-align:left">Score</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Green House</td>
                                            <td>The Candidate has the charisma and passion of an
                                              Andelan, He is ambitious and has not decided
                                              on why he wants to join the company.
                                              He is currently persueing his BSc.
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Andelabs</td>
                                            <td>100</td>
                                        </tr>
                                        <tr>
                                            <td>plumtest</td>
                                            <td>40</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </ul>
                        <h4> <span class="badge closed" ><i class="fa fa-lock" aria-hidden="true"></i> </span> Cycle 12 : [stage 2]</h4>
                        <ul>
                            <div class="list-group ">
                                <a href="#" class="list-group-item active ">
                      Tool analysis
                        </a>
                                <table class="table table-hover table-stripped">
                                    <thead>
                                        <tr>
                                            <th style="text-align:left">Tool</th>
                                            <th style="text-align:left">Score</th>



                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>proctor</td>
                                            <td>100</td>

                                        </tr>
                                        <tr>
                                            <td>Andelabs</td>
                                            <td>100</td>

                                        </tr>
                                        <tr>
                                            <td>plumtest</td>
                                            <td>40</td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </ul>
                    </section>
                </div>
            </div>






        </div>
    </div>
    </div>




    <script>
        $('section h4').click(function(event) {
            event.preventDefault();
            $(this).addClass('active');
            $(this).siblings().removeClass('active');

            var ph = $(this).parent().height();
            var ch = $(this).next().height();

            if (ch > ph) {
                $(this).parent().css({
                    'min-height': ch + 'px'
                });
            } else {
                $(this).parent().css({
                    'height': 'auto'
                });
            }
        });
        // resize the tabs otherwise there will be a drag
        function tabParentHeight() {
            var ph = $('section').height();
            var ch = $('section ul').height();
            if (ch > ph) {
                $('section').css({
                    'height': ch + 'px'
                });
            } else {
                $(this).parent().css({
                    'height': 'auto'
                });
            }
        }


        tabParentHeight();
        // Get random profile photo
        $.ajax({
            url: 'https://randomuser.me/api/',
            dataType: 'json',
            success: function(data) {
                var pic = data.results[0].picture.large
                console.log(pic);
                $('.thumbn').attr('src', pic)

            }
        });
    </script>
</body>

</html>
