<!DOCTYPE html>
<html lang="en">

<head>
        <% include ./partials/header %>
</head>

<body>
    <script>
    $.material.init()
    </script>
    <nav class="navbar  navbar-light bg-faded">
        <a class="navbar-brand" href="#">Paths</a>
    </nav>
    <div class="container">
    <div class="jumbotron">
        <div class="container">

                <a class="btn btn-primary btn-lg">Cohort Summary</a>
            </p>
        </div>
    </div>

        <div class="content">

        <div>

             <image src="./images/meta-chart (1).png" class="col-lg-6 offset-lg-3">
        </div>

<div class="table-responsive card col-lg-6 offset-lg-3">
    <table class="table table-hover">
        <thead>
            <tr>
                <th> Country</th> <th> number</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="/location_cohort">Nigeria</a></td><td>20</td>
                 </tr>
                  <tr>
                <td>kenya</td><td>10</td>
                 </tr> <tr>
                <td>uganda<td>10</td>
                 </tr>
                  <tr>
                <td>Ghana</td><td>10</td>
            </tr>
             <tr>
                <td><b>Total</b></td><td><b>50</b></td>
            </tr>
        </tbody>
    </table>
</div>

        </div>
    </div>


    </body>
    </html>
