<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/header %>

        <script>
            $(function() {
                $('#draggable').draggable();
                $('#droppable').droppable({
                    drop: function(event, ui) {
                        $(this)
                            .addclass("ui-state-highlight")
                            .find('p')
                            .html("dropped");
                    }
                })
            })
        </script>

</head>

<body>

    <div class="container">
        <div class="content">

            <div>
                <div class="jumbotron">
                    <div class="container">
                        <a class="btn btn-lg">Evaluation Tools </a>
                        </p>
                    </div>
                </div>
                </h2>
            </div>


            <div class="grid" id="drop" data-packery='{ "itemSelector": ".grid-item" }'>
                <!--  Item will be dropped here -->

            </div>

            <!-- Button trigger modal -->
            <a href="/toolsDescription"><button type="button" class="btn-primary btn-lg pull-right" >
          add tool
        </button></a>
            <button type="button" class="btn btn-primary btn-lg pull-right" data-toggle="modal" data-target="#myModal">
  publish
</button>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                        <h4 class="modal-title" id="myModalLabel">Cycle Tool selection</h4>
                    </div>
                    <div class="modal-body">
                        <h2>  staging summary</h2>
                        <p>The following is a summary of tools to be used in this cycle</p>
                        <ul class="stage list-group">

                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary live">Make cycle Live!!</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card col-lg-12 tools">
            <script id="tools-template" type="text/x-handlebars-template">
                {{#each tool}}
                <div class="col-lg-12 category">
                    <h4>  {{@key}}</h4> {{#each this}}
                    <div class="card grid-item col-lg-6 element" id="draggable">
                        <img src="images/{{this.Profile}}" alt={{this.Profile}} class="thumbnail img-circle">
                        <br><button data-toggle="modal" data-target="#myModal2" data-toggle="tooltip" title="{{this.Description}}" class="btn btn-primary"> add</button>
                        <p>{{this.Tools}} </p>
                    </div>
                    {{/each}}
                </div>
                {{/each}}
            </script>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                    <h4 class="modal-title" id="myModalLabel">Cycle Tool selection</h4>
                </div>
                <div class="modal-body col-lg-6">
                    <div class="app"></div>
                    <div class="description col-sm-12">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi ab, quaerat adipisci. Illum esse enim error corporis facere quo ab, placeat laborum pariatur laboriosam id nam debitis quisquam mollitia, modi.
                    </div>

                </div>
                <div class="modal-form col-lg-5">
                    <h5>  Tools setting</h5>
                    <form action="" method="POST" role="form" class="card">


                        <div class="form-group">
                            <label for="">start</label>
                            <input type="date" class="form-control" id="">
                        </div>
                        <div class="form-group">
                            <label for="">end</label>
                            <input type="date" class="form-control" id="">
                        </div>
                        <div class="form-group">
                            <label for="">stage</label>
                            <input type="number" class="form-control" id="" placeholder="Input field" min=0>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Use tool</button>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>
